<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
<!--    <input [(ngModel)]="newServerName" class="form-control" type="text">-->
    <input #serverNameInput class="form-control" type="text">
    <label>Server Content</label>
<!--    <input [(ngModel)]="newServerContent" class="form-control" type="text">-->
    <input #serverContentInput class="form-control" type="text">
    <br>
    <button
      (click)="onAddServer(serverNameInput)"
      class="btn btn-primary">Add Server
    </button>
    <button
      (click)="onAddBlueprint(serverNameInput)"
      class="btn btn-primary">Add Server Blueprint
    </button>
  </div>
</div>
